[user]
  email = 49210777+Maneren@users.noreply.github.com
  name = Maneren
[core]
  pager = diff-so-fancy | less --tabs=2 -RFX
	excludesFile = ~/.gitignore_global
	eol = lf
[interactive]
  diffFilter = diff-so-fancy --patch
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[alias]
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
[push]
	autoSetupRemote = true
